<li>
  <div class="user-info" id="user-#{user.id}">
    <div class="avatar">
      <%= gravatar_for user, {size: 150, admin: admin} %>
    </div>
    <div class="info">
      <p>
        <%= link_to user.name, admin ? admin_user_path(user.id) : user, class: "user-name" %>
        <% if logged_in? && correct_user?(user) %>
          <%= link_to t("shared.edit"), admin ? edit_admin_user_path(user.id) :
                                            edit_user_path(user.id) %>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to t("shared.delete"), admin ? admin_user_path(user.id)
                                                : user, method: :delete,
                data: { confirm: t("shared.are_you_sure")} %>
          <% end %>
        <% end %>
      </p>
      <%= label_tag t("shared.email"), nil, class: "ilabel" %>
      <%= user.email %>
      <span style="color: #337ab7">(<%= user.activated ? t("shared.activated") :
                                            t("shared.not_activated") %>)</span>
      <br>
      <%= label_tag t("users.form.gender"), nil, class: "ilabel" %>
      <%= user.gender %>
      <br>
      <%= label_tag t("users.form.birth_date"), nil, class: "ilabel" %>
      <%= user.birth_date %>
      <br>
      <%= label_tag t("shared.phone_number"), nil, class: "ilabel" %>
      <%= user.phone_number %>
      <br>
      <%= label_tag t("users.form.address"), nil, class: "ilabel" %>
      <%= user.address %>
      <br>
      <%= label_tag t("shared.reservation"), nil, class: "ilabel" %>
      <%= user.reservations.count %>
    </div>
  </div>
</li>
