<%= form_for @dish, url: {controller: controller, action: action}, class: "form-create-dish" do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="col-md-6">
    <div class="field-name">
      <span><%= f.label :name, value: t("shared.dish_name") %></span>
      <span><%= f.text_field :name, placeholder: t("shared.dish_name"), class: "form-control" %></span>
    </div>
    <div class="field-description">
      <%= f.label :description, value: t("shared.description") %>
      <%= f.text_area :description, placeholder: t("shared.description"), class: "form-control" %>
    </div>
    <div class="field-price">
      <%= f.label :price, value: t("shared.price") %>
      <%= f.text_field :price, placeholder: t("shared.price"), class: "form-control" %>
    </div>
    <div class="field-promotion">
      <%= f.label :promotion, value: t("shared.promotion") %>
      <%= f.text_field :promotion, placeholder: t("shared.promotion"), class: "form-control" %>
    </div>
    <div class="field-category">
      <%= f.label :category_name, value: t("shared.category_name") %>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
    </div>
    <div class="checkbox-status form-check">
      <%= f.check_box :is_display, class: "form-check-input" %>
      <%= f.label :is_display, value: t(".display"), class: "form-check-label" %>
    </div>

    <div class="select-image">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: "select-img" %>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
  <div class="col-md-6">
    <%= image_tag @dish.image, alt: @dish.name, class: "visible-false image-preview", id: "img-preview" %>
  </div>
<% end %>
