<div class="col-md-12 text-center m-b-35 m-t-35">
  <h1 class="header-h"><%= t ".menu_list" %></h1>
  <p class="header-p">
    <%= t ".title_1" %>
    <br>
    <%= t ".title_2" %>
  </p>
</div>

<div class="row">
  <%= render @dishes %>
</div>
<div class="text-center">
  <%= will_paginate %>
</div>
