<div class="col-md-2">
  <!-- Menu -->
  <%= form_for :admin, action: :index, method: :get do |f| %>
    <div class="side-menu">
      <div class="side-menu-container">
        <ul class="nav navbar-nav">

          <li class="active">
            <%= link_to admin_users_path do %>
              <span class="glyphicon glyphicon-dashboard"></span> Dashboard
            <% end %>
          </li>
          <!-- Dropdown user-->
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-user">
              <span class="glyphicon glyphicon-user"></span> User <span class="caret"></span>
            </a>

            <!-- Dropdown level 1 -->
            <div id="dropdown-user" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><%= link_to "users", admin_users_path %></li>
                  <li><%= link_to "new user", new_admin_user_path %></li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Dropdown reservation-->
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-reservation">
              <span class="glyphicon glyphicon-user"></span> Reservation <span class="caret"></span>
            </a>

            <!-- Dropdown level 1 -->
            <div id="dropdown-reservation" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><%= link_to "reservations", admin_reservations_path %></li>
                  <li><%= link_to "new reservation", new_admin_reservation_path %></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
  <% end %>
  </div>
</div>
